/* Globals */
html {
font-family: "Raleway", sans-serif;
box-sizing: border-box;
font-size: 16px;
}

body,
body * {
margin: 0;
padding: 0;
border: 0;

}

h1,
h2,
h3,
h4,
h5,
p,
a,
label,
li {
  color: white !important;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

/* Nav */
nav{
    z-index: 999;
}

.logo-img{
width: 1.5rem;
}

/* About us */
#about-us{
    background-color: black;
}

/* Features */
#features{
  background-color: black;
}

.card-image{
  height: 170px;
}