/* Globals */
html {
font-family: "Raleway", sans-serif;
box-sizing: border-box;
font-size: 16px;
}

body,
body * {
margin: 0;
padding: 0;
border: 0;

}

/* Nav */
nav{
    z-index: 999;
}

.logo-img{
width: 1.5rem;
}

